// ---------------------------------------------------
// DEVELOPMENT MODE
// ---------------------------------------------------
$granola-development: false;

// ---------------------------------------------------
// Base settings
// ---------------------------------------------------
$base-background: color('white');
$base-color: color('black');
$base-focus-color: color('blue');
$base-border-radius: 2px;
$base-dark-percentage: 10%;

$container-max-width: 1200px;

// ---------------------------------------------------
// Text links
// ---------------------------------------------------
$link-color-base: inherit;
$link-color-hover: inherit;

// ---------------------------------------------------
// Text selection
// ---------------------------------------------------
$selection-color: color('white');
$selection-background: color('black');

// ---------------------------------------------------
// Buttons
// ---------------------------------------------------
$button-active-states: false;
$button-padding-vertical: 0.25em;
$button-padding-horizontal: 0.5em;

// ---------------------------------------------------
// Horizontal rule styling
// ---------------------------------------------------
$hr-color: currentColor;
$hr-thickness: 1px;

// ---------------------------------------------------
// Transitions
// ---------------------------------------------------
$transition-time: 0.3s;
$transition-ease: ease-in-out;

// ---------------------------------------------------
// Form Styling
// ---------------------------------------------------
$input-background: transparent;
$input-border-thickness: 1px;
$input-border-color: currentColor;
$input-color: inherit;
$input-custom-select: false;
$input-focus-color: $base-focus-color;
$input-gap: space(paragraph) / 2;
$input-padding: 0.85em;
$input-placeholder-color: rgba($base-color, 0.8);
$input-radius: $base-border-radius;
$form-error-message-color: color('red');
$label-spacing: space(paragraph) / 4;
$textarea-height: 100px;
$gf-list-icon-size: 1rem;

// ---------------------------------------------------
// Fonts
// ---------------------------------------------------
$base-heading-font: 'Oswald-Bold', Helvetica, Arial, sans-serif;

// ---------------------------------------------------
// Shadows
// ---------------------------------------------------
$base-box-shadow: 0 1px 3px rgba(31, 33, 34, .042), 0 1px 2px rgba(31, 33, 34, .072);
$hover-box-shadow: 0 10px 20px rgba(31, 33, 34, .095), 0 6px 6px rgba(31, 33, 34, .115);

// ---------------------------------------------------
// Transform
// ---------------------------------------------------
$transform-up: translateY(-3px);

// ---------------------------------------------------
// Transition
// ---------------------------------------------------
$transition-2: all .2s ease;
