.footer {
    background-color: color('light-grey');
    
    .container {
        width: 90%;
        padding-top: em(40);
        padding-bottom: em(20);
        text-align: center;

        .follow-us {
            color: color('red');
            text-transform: uppercase;
            font-family: $base-font-family;
            font-weight: $base-bold-font-weight;
            font-size: $large-font-size;
        }

        .icons {

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: space-around;
            margin-top: space('gutter');

            &__fb,
            &__instagram,
            &__youtube {
                width: 40px;
                margin-left: 10px;
                margin-right: 10px;
            }

        }

        .message {
            text-align: center;
            color: color('white');
            font-size: $small-font-size;

            img {
                width: 100px;
            }
            
            p {
                color: color('grey');
                font-family: $base-font-family;
                font-size: $base-font-size;
            }

            .footer-message {
                font-size: $base-font-size * 1.2;
                font-family: $base-italic-font-family;
            }
        }
    }
}
