.header__navigation {
    // ----------------------------------------------
    // All lists in the nav
    // ----------------------------------------------
    ul {
        @include list-reset-hard;
    }

    // ----------------------------------------------
    // All list items in the nav
    // ----------------------------------------------
    li {
        position: relative;
    }

    // ----------------------------------------------
    // All links in the nav
    // ----------------------------------------------
    a {
        display: block;
    }

    // ----------------------------------------------
    // Top level menu
    // ----------------------------------------------
    > ul {
        display: flex;

        > li {
            margin-right: 1rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    // ----------------------------------------------
    // All sub-menus
    // ----------------------------------------------
    .sub-menu {
        position: absolute;
        top: 100%;
        display: none;
    }

    // ----------------------------------------------
    // All menu items that have children
    // ----------------------------------------------
    .menu-item-has-children {
        &:hover {
            .sub-menu {
                display: block;
            }
        }
    }
}
