/* stylelint-disable selector-max-compound-selectors */

.header__navigation {
    .burger {
        @include button-reset;
        @include burger(30px, 3px, color('white'));

        z-index: 6;

        @include mq(menu) {
            display: none;
        }

        &:hover,
        &:focus {
            @include burger-hover(30px, 3px, color('white'));
        }

        &.active {
            @include burger-active(30px, 3px, color('white'));
        }
    }


    .header__navigation-wrap {
        position: fixed;
        z-index: 5;
        top: space('layout--large');
        left: 0;
        display: flex;
        width: 100%;
        flex-flow: column nowrap;
        justify-content: flex-start;
        background: color('dark-blue');
        color: color('white');
        opacity: 0;
        overflow-y: auto;
        transition: all ease 0.3s;
        visibility: hidden;

        @include mq(menu) {
            position: static;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            padding-top: 0;
            background: transparent;
            color: inherit;
            opacity: 1;
            overflow-y: visible;
            visibility: visible;
        }

        .menu-open & {
            @include mq($until: menu) {
                height: calc(100% - #{space('layout--large')});
                opacity: 1;
                overflow-x: hidden;
                visibility: visible;
            }
        }
    }

    // ----------------------------------------------
    // All lists in the nav
    // ----------------------------------------------
    ul {
        @include list-reset-hard;
    }

    // ----------------------------------------------
    // All list items in the nav
    // ----------------------------------------------
    .menu-item {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-start;

        a {
            flex: 1;
            font-size: $base-font-size;
        }

        @include mq(menu) {
            width: auto;
            align-items: center;
        }

        &:last-child {
            margin-bottom: 0;
        }

        // ----------------------------------------------
        // All links in the nav
        // ----------------------------------------------
        a {
            position: relative;
            color: color('white');
            font-weight: 500;
            text-decoration: none;
            transition: 0.15s ease all;
            white-space: nowrap;
            font-family: $base-font-family;

            @include mq(menu) {
                width: 100%;
            }

            &:hover {
                color: rgba(color('white'), 0.8);
                text-decoration: none;
            }
        }
    }

    .current-menu-item {
        border-bottom: 2px solid color('white');
    }

    // ----------------------------------------------
    // Top level menu
    // ----------------------------------------------

    .main-menu {
        z-index: 2;
        width: 100%;
        margin: 0 auto;

        @include mq(menu) {
            display: flex;
            width: auto;
            max-width: none;
            align-items: center;
            padding-right: 0;
            padding-left: 0;
            margin: 0 auto;
        }

        // Top level menu items
        > .menu-item {
            @include no-last-margin;

            padding: 15px 0;

            > a {
                @include mq($until: menu) {
                    // @include type-style('body--large');

                    font-weight: bold;
                }
            }

            @include mq($until: menu) {
                border-bottom: 1px solid rgba(color('white'), 0.2);

                &:first-child {
                    border-top: 1px solid rgba(color('white'), 0.2);
                }

                &.dropdown--open {
                    padding-bottom: space('gutter') / 2;
                    border-bottom: 1px solid color('light-grey');
                }
            }

            @include mq(menu) {
                padding: space('vertical--small') space('gutter--desktop');
                margin-left: -#{space('gutter')};
                border-radius: $small-border-radius;

                &:last-child {
                    margin-right: 0;
                }
            }

            > a {
                padding: 0 space('gutter');

                @include mq(menu) {
                    display: flex;
                    padding: 0;
                }
            }
        }

        > .menu-item-has-children {
            &:hover {
                &::after {
                    position: absolute;
                    bottom: 0;
                    left: 100%;
                    display: block;
                    width: 3px;
                    height: 3px;
                    background: transparent;
                    border-bottom-left-radius: 100%;
                    box-shadow: 0 0 0 70px color('white');
                    clip: rect(0, 3px, 3px, 0);
                    content: '';
                }

                @include mq(menu) {
                    background-color: color('white');
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    color: color('dark-blue');

                    a {
                        color: color('dark-blue');
                    }

                    > .sub-menu-toggle svg {
                        transform: rotate(180deg);
                    }

                    > .sub-menu {
                        display: flex;
                        background-color: color('white');
                        opacity: 1;
                        visibility: visible;
                        width: 100%;
                        border-top-right-radius: 0px;
                    }
                }
            }
        }
    }

    // ----------------------------------------------
    // All sub-menus
    // ----------------------------------------------
    .sub-menu {
        display: none;
        width: 100%;
        flex-flow: column nowrap;
        padding: 15px space('gutter') 0;
        // animation: fade-in $transition-time $transition-ease;
        background-color: color('white');
        border-radius: $small-border-radius;
        color: color('dark-blue');

        @include mq(menu) {
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
            width: auto;
            padding: 10px space('gutter') 15px;
            border-width: 0;
            background-color: color('dark-blue');
            border-top-left-radius: 0;
            box-shadow: 0 2px 3px 0 rgba(color('black'), 0.2);
            transition: transition(color, background-color, border-color, box-shadow, opacity);
        }

        li {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid color('light-grey');

            &:last-child {
                margin-bottom: 0;
                border-bottom: 0;
            }
        }

        // All links in sub-menus
        a {
            color: color('dark-blue');
            font-size: $base-font-size;

            &:hover {
                color: rgba(color('dark-blue'), 0.8);
            }
        }

        .sub-menu {
            @include mq($until: menu) {
                margin-right: 0;
            }

            @include mq(menu) {
                position: static;
                z-index: 1;
                width: 100%;
                padding-right: 0;
                box-shadow: none;
            }

        }

        .sub-menu-toggle {
            @include mq($until: menu) {
                margin-right: 0;
            }

            @include mq(menu) {
                width: em(20);
                height: em(20);
            }
        }
    }

    // ----------------------------------------------
    // All menu items that have children
    // ----------------------------------------------
    .menu-item-has-children {
        &.dropdown--open {
            background-color: color('white');
            color: color('dark-blue');

            @include mq(menu) {
                background-color: color('white');
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;

                .sub-menu {
                    background-color: color('white');
                }
            }

            a {
                color: color('dark-blue');
            }

            > .sub-menu-toggle svg {
                transform: rotate(180deg);
            }

            > .sub-menu {
                display: flex;
            }
        }
    }

    .sub-menu-toggle {
        @include button-reset;

        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        @include mq($until: menu) {
            @include granola-button;
            @include button--secondary;

            display: flex;
            width: em(30);
            height: em(30);
            padding: 0;
            margin-right: space('gutter');
            margin-left: auto;
            font-size: 1em;

            &:hover {
                color: color('purple');
            }
        }

        @include mq(menu) {
            margin-left: 5px;
        }

        svg {
            width: em(15);
            height: em(8);

            @include mq(menu) {
                width: em(13);
                height: em(7);
            }
        }
    }

    .header__cta-wrap {
        position: relative;
        display: flex;
        width: 100%;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        margin-top: space('gutter--desktop') * 2;
        margin-bottom: space('gutter');

        @include mq(menu) {
            width: auto;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: space('gutter--desktop') / 2 + 4px;
        }

        .header-cta {
            margin-top: 0;
            margin-right: space('gutter') / 2;
            margin-left: space('gutter') / 2;

            @include mq(menu) {
                margin-right: space('gutter--desktop') / 2 + 4px;
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        .button--white {
            @include button--secondary;

            margin-left: space('gutter--desktop') / 2;
        }
    }
}
