.header {
    position: relative;
    z-index: 3;
    background: transparent;
    color: color('white');
    font-weight: 700;
    transition: background-color 300ms linear;

    &__inner {
        display: flex;
        height: space('layout--large') * 1.5;
        align-items: center;
        justify-content: flex-end;

        @include mq(menu) {
            height: space('layout--desktop');
        }
    }

    &.scrolled {
        background-color: color('light-grey'); // for test only
        transition: background-color 300ms linear;
        color: color('dark-blue');

        .current-menu-item {
            border-bottom: 2px solid color('dark-blue');
        }
    }

    &-wrap {
        width: 100%;
        position: fixed;
        z-index: 5;
    }

    &__logo {
        display: block;
        margin-right: auto;

        svg {
            width: 250px;

            &:last-child {
                display: none;
            }

            @include mq(menu) {
                width: 300px;
            }
        }
    }

    &__burger {
        @include mq(menu) {
            display: none;
        }
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    &__search {
        @include no-last-margin;

        position: relative;
        z-index: 1;
        display: none;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-start;
        padding: space('vertical--small') 25px;
        margin-right: 6px;
        border-radius: $base-border-radius;
        font-size: $base-font-size;

        @include mq(menu) {
            width: auto;
            flex-flow: row nowrap;
            align-items: center;
            padding-right: space('gutter--desktop');
            padding-left: space('gutter--desktop');
        }

        @include mq(small) {
            display: flex;
        }

        @include mq(menu) {
            order: 1;
        }

        // ----------------------------------------------
        // All links in the nav
        // ----------------------------------------------
        a {
            position: relative;
            color: color('dark-blue');
            font-weight: 700;
            text-decoration: none;
            transition: 0.15s ease all;
            white-space: nowrap;

            &:hover {
                color: rgba(color('dark-blue'), 0.8);
                text-decoration: none;
            }
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: color('white');
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            color: color('dark-blue');

            a {
                color: color('dark-grey');
            }

            > .sub-menu {
                display: flex;
                opacity: 1;
                visibility: visible;
            }


            &::after {
                position: absolute;
                bottom: 0;
                left: 100%;
                display: block;
                width: 3px;
                height: 3px;
                background: transparent;
                border-bottom-left-radius: 100%;
                box-shadow: 0 0 0 70px color('white');
                clip: rect(0, 3px, 3px, 0);
                content: '';
            }
        }

        .sub-menu {
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
            width: auto;
            padding: space('gutter--desktop') space('gutter--desktop') / 2;
            border-width: 0;
            background-color: color('white');
            border-radius: $small-border-radius;
            border-top-left-radius: 0;
            box-shadow: 0 2px 3px 0 rgba(color('black'), 0.2);
            color: color('dark-grey');
            transition: transition(color, background-color, border-color, box-shadow, opacity);
        }

        svg {
            width: 20px;
            height: 20px;
        }

        .search-form {
            position: relative;
        }

        [type='search'] {
            width: 14em;
            padding-right: 2em;
        }

        .search-button {
            @include button-reset;

            position: absolute;
            right: 15px;
            width: auto;
            height: 100%;
            border-color: transparent;
        }

        button {
            @include button-reset;

            color: inherit;
        }
    }
}