article {
    color: color('dark-grey');
}

.post-content {
    .post-info {
        font-size: $medium-font-size;
        a {
            text-decoration: none;
        }

        span {
            color: color('red');
        }
    }
}

.sharing {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 6px solid color('dark-blue');

    span {
        color: color('white');
        padding: 10px 30px 8px;
        background: color('dark-blue');
        margin-right: 0;
        text-transform: uppercase;
    }

    .icons {
        width: 100%;
        margin-left: space(gutter);
        &__fb {
            width: 40px;
        }
    }
}