.navigation {
    margin-top: space(gutter);
    padding-bottom: space(layout);
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    > * {
        margin-right: 0.3em;

        &:last-child {
            margin-right: 0;
        }
    }

    a,
    .current {
        display: block;
        padding: 0.1em 0.2em;
        border-radius: $base-border-radius $base-border-radius 0 0;
        color: color('dark-grey');
        text-decoration: none;
        transition: transition(background-color);
        border-bottom: 2px solid transparent;

        &:hover {
            color: color('red');
        }
    }
}

.page-numbers {
    &.current {
        color: color('red');
        border-bottom: 2px solid color('red');
        font-weight: $base-bold-font-weight;
    }
}
