// [1] Remove the underline if this is an a tag
@mixin granola-button($text: color('white'), $background: color('black'), $border: color('black')) {
    @include button-reset;
    @include granola-button-color(
        $text: $text,
        $background: $background,
        $border: $border,
    );

    display: inline-block;
    padding: $button-padding-vertical $button-padding-horizontal;
    border: 1px solid $border;
    border-radius: $base-border-radius;
    text-decoration: none; // [1]
    transition: transition(color, background-color, border-color, box-shadow, transform);

    // &:focus {
    //     @include no-focus-not-accessible;

    //     box-shadow: 0 0 0 4px $base-focus-color;
    // }
}

@mixin granola-button-color($text, $background, $border) {
    border-color: $border;
    background-color: $background;
    color: $text;
}

@mixin button--secondary {
    @include granola-button-color(
        $text: color('dark-grey'),
        $background: color('white'),
        $border: color('white'),
    );
}