button,
[type=submit],
[type=reset],
[type=button],
.button {
    @include granola-button;
}

// ----------------------------------------------
// Button modifiers
// ----------------------------------------------
// Marked for deprecation, note to dev team if you
// end up using this
// ----------------------------------------------
// @each $name, $properties in $color-map {
//     .button--#{$name} {
//         @include granola-button-color(
//             color-map($name, foreground),
//             color-map($name, background)
//         );
//     }
// }

.button--white-dark-blue {
    background-color: color('white');
    color: color('dark-blue');
    border-color: color('dark-blue');

    &:hover,
    &:active,
    &:focus {
        background-color: color('dark-blue');
        color: color('white');
        border-color: color('dark-blue');
    }

    a {
        text-decoration: none;
    }
}
