.cards-container {
    @include make-row;
    margin-top: space('gutter--desktop');
    display: flex;
    flex-flow: column wrap;
    padding: space('gutter');
    background-color: color('light-grey');
    padding-top: space('gutter--desktop') * 1.5;
    padding-bottom: space('gutter--desktop');

    .card-small {
        width: 100%;
        height: auto;
        box-shadow: $base-box-shadow;
        transition: $transition-2;
        border: 1px solid color('light-grey');
        margin-bottom: $base-margin;

        &:hover {
            box-shadow: $hover-box-shadow;
            transform: $transform-up;
        }

        &__content {
            padding: space('gutter') / 2;
            color: color('dark-blue');

            h2 {
                @include heading('h5');
                text-transform: uppercase;
                font-family: $base-heading-font;
            }

            p {
                font-size: $small-font-size;
            }

            ul {
                @include list-reset-hard;

                li {
                    font-size: $small-font-size;

                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@include mq(small) {
    .cards-container {
        flex-wrap: wrap;
        flex-direction: row;

        .card-small {
            width: 48%;
            &:nth-child(odd) {
                margin-right: $base-margin;
            }
        }
    }
}

@include mq(medium) {
    .cards-container {
        flex-flow: row nowrap;

        .card-small {
            margin-right: $base-margin;
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}

.cards-section {
    background-color: color('light-grey');
}
