.featured-post {
    @include make-row;

    &__thumbnail {
        width: 100%;
        padding: space('gutter') space('gutter') space('gutter');

        @include mq($until: medium) {
            width: 100%;
            padding: space('gutter') space('gutter') space('gutter');
            width: 100vw;
            position: relative;
            margin-left: -50vw;
            left: 50%;
            padding: 0;
        }

        img {
            box-shadow: $base-box-shadow;
        }
    }

    &__content {
        width: 100%;
        padding-right: space('gutter') * 1.5;
        padding-left: space('gutter') * 1.5;
        text-transform: capitalize;

        h1 {
            font-family: $heading-font-family-bold;
            color: color('grey');
        }

        p {
            color: color('red');
            font-size: $tiny-font-size;

            a {
                text-decoration: none;
                color: color('red');
                text-transform: uppercase;
                font-family: $base-light-font-family;
                font-size: $small-font-size;
            }

            &.subtitle {
                color: color('grey');
                font-size: $base-font-size;
                text-transform: none;
                line-height: space('gutter--desktop');
                margin-top: space('gutter') / 3;
            }
        }

        .readmore {
            font-size: $small-font-size;
        }
    }

    @include mq(medium) {
        padding-bottom: space('gutter--desktop') * 1.5;
        margin-top: space('gutter--desktop');


        &__thumbnail {
            width: 50%;

            img {
                width: 100%;
            }
        }
    
        &__content {
            width: 50%;
            padding: 0 space('gutter') space('gutter') (space('gutter--desktop') * 3);
            position: relative;
            display: grid;
            align-content: center;

            p {
                a {
                    font-family: $base-light-font-family;
                    font-size: $small-font-size;
                }
    
                &.subtitle {
                    font-size: $medium-font-size * 1.5;
                    line-height: space('gutter--desktop') * 1.2;
                    margin-top: space('gutter') / 3;
                    font-family: $heading-font-family-bold-a;
                }
            }
        }
    }
}
