.featured-post {
    @include make-row;
    margin-top: space('gutter--desktop') * 2;

    &__thumbnail {
        width: 100%;
        padding: space('gutter') space('gutter') space('gutter');

        img {
            box-shadow: $base-box-shadow;
            transition: $transition-2;
            border-radius: $base-border-radius;

            &:hover {
                box-shadow: $hover-box-shadow;
                transform: $transform-up;
            }
        }
    }

    &__content {
        width: 100%;
        padding-right: space('gutter');
        padding-left: space('gutter');
        text-transform: uppercase;

        h1 {
            font-family: $heading-font-family-bold;
            color: color('dark-blue');
        }

        ul {
            @include list-reset-hard;

            li {
                display: inline-flex;
                margin-right: space('gutter');
                font-family: $base-font-family;
                font-size: $small-font-size;
                margin-top: 0px;
            }
        }

        p {
            font-size: $small-font-size;
        }

        .readmore {
            font-size: $small-font-size;
        }
    }

    @include mq(medium) {
        &__thumbnail {
            width: 50%;
        }
    
        &__content {
            width: 50%;
            padding: 0 space('gutter') space('gutter') space('gutter');
            position: relative;

            .readmore {
                position: absolute;
                bottom: space('gutter');
                left: space('gutter');
                font-size: $small-font-size;
            }
        }
    }

    @include mq($from: large) {
        &__content {
            .readmore {
                font-size: $base-font-size;
            }
        }
    }
}
