.hero {
    
    /* Flexbox stuff */
    display: flex;
    /* Sizing */
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;

    /* Background */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Text styles */
    text-align: center;

    .hero-inner {
        .intro-text {
            color: color('white');
            text-align: center;
            text-shadow: $base-text-shadow;

            h1 {
                font-family: $heading-font-family-bold;
            }
        }
    }

    @include mq($until: small) {
        .hero-inner {
            margin-top: em(50);
    
            .intro-text {
                color: color('white');
                text-align: center;
        
                h1 {
                    font-size: em(30);
                }
        
                p {
                    font-size: $small-font-size;
                }
            }
        }
    }

    
    @include mq(small) {
        .intro-text {
    
            h1 {
                margin-top: 0;
                margin-bottom: 0.5em;
                font-size: em(60);
            }
        }  
    }
    
    @include mq(medium) {
        .intro-text {
    
            h1 {
                margin-top: 0;
                margin-bottom: 0.5em;
                font-size: 5em;
            }
    
            p {
                margin: 0 auto;
            }
        }  
    } 
}
