.header {
    position: fixed;
    width: 100%;

    &.scrolled {
        background-color: #fff !important;
        transition: background-color 200ms linear;
    }
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Background */
    background-image: url(../images/ibrpv.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    
    .intro-text {
    /* Text styles */
    text-align: center;
    color: white; /* ADD THIS LINE */

        h1 {
            /* Text styles */
            font-size: 5em;
            
            /* Margins */
            margin-top: 0;
            margin-bottom: 0.5em;
        }
        p {
            width: 80%;
            margin: 0 auto;
        }
    }
    
}