.service-time {
    display: grid;
    justify-content: space-around;
    color: color('light-grey');

    .service-card {
        text-align: center;
        margin-top: $base-margin;

        h2 {
            font-family: $base-heading-font;
        }

        span {
            font-family: $base-font-family;
        } 
    }
}

@include mq(medium) {
    .service-time {
        display: flex;
        justify-content: space-around;
    }
}

.services-section {
    background-color: color('dark-blue');
    padding-bottom: $base-margin;
}
