.church-info {
    background-color: color('dark-blue');
    color: color('white');

    .container {
        @include mq(large) {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
        }
    }

    .column {
        @include make-column();
        text-align: center;

        @include mq(large) {
            text-align: left;
        }
    }
}