.church-info {
    background-color: color('dark-blue');
    color: color('white');

    .container {
        @include mq(large) {
            display: grid;
            grid-template-columns: 50% 50%;
        }
    }

    .column {
        @include make-column();
        text-align: center;

        @include mq(large) {
            text-align: left;
        }
    }

    .icon {
        width: 70px;

        @include mq(large) {
            width: 25px;
            margin-right: space('gutter');
        }
    }

    .visiting {
        @include mq(large) {
            margin-bottom: space('gutter');
        }

        hr {
            width: 40%;
            color: color('light-grey');
            
            @include mq(large) {
                display: none;
            }
        }

        #calendar {
            display: none;

            @include mq(large) {
                display: inline;
            }
        }

        #calendar-large {
            width: 40px;
            margin-bottom: space('gutter');
            margin-top: sapce('gutter');

            @include mq(large) {
                display: none;
            }
        }

        &__title {
            font-family: $base-font-family;
            font-size: $large-font-size;
            margin-top: 0;
            margin-bottom: space('gutter') / 2;
            padding-top: space('gutter--desktop');
        }

        &__time {
            margin-top: 0;
            font-family: $base-italic-font-family;
        }
    }

    .address {
        padding-bottom: space('gutter--desktop');

        @include mq(large) {
            display: grid;
            grid-template-columns: 60% 40%;
            grid-gap: space('gutter--desktop');
            align-items: center;
            padding-top: space('gutter--desktop');
        }

        &__title,
        &__street-address {
            font-family: $base-italic-font-family;
            font-size: $base-font-size;

            @include mq(large) {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        button {
            padding: 5px 20px;
        }

        #location-arrow,
        #maps-and-flags-large {
            display: none;

            @include mq(large) {
                width: 15px;
                margin-right: space('gutter') / 2;
                display: inline;
            }
        }

        #maps-and-flags {
            @include mq($from: large) {
                display: none;
            }
        }
    }
}